<div fxLayout="column" fxLayoutAlign="none center">

    <br>
    <br>
    <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Enter Patient Account Address:</mat-label>
        <input [formControl]="pat_address_field" matInput>
    </mat-form-field>
    <button (click)="load_record()" mat-raised-button>Fetch Patient Record</button>
    <br>

    <mat-card *ngIf="show_record" fxLayout="column" fxLayoutAlign="center" style="border: 1px solid black;width: 40%;">

        <div fxLayout="row">
          <span fxFlexAlign="start" style="border: 1px solid black;padding: 5px;cursor: pointer;" (click)="goPrev()"><</span> <span fxFlexAlign="center" fxFlex="100%" style="text-align: center">PID1</span> <span fxFlexAlign="end" style="border: 1px solid black;padding: 5px;cursor: pointer;" (click)="goNext()">></span>
        </div>
    
    
        <h1 style="text-align: center;">Patient Record</h1>
    
        <div fxLayout="row" fxLayoutGap="20%" fxLayoutAlign="center">
    
          <div fxLayout="column">
            <span style="font-weight: bolder;" *ngFor="let key of column_names"> {{key | titlecase}}: </span>
          </div>
      
          <div fxLayout="column">
            <span *ngFor="let value of values"> {{value}} </span>
          </div>
    
        </div>
    
      </mat-card>

      <br>
      <br>

      <textarea *ngIf="show_record" id="textarea" style="width: 40%;height: 100px;">{{blockchain_decrypted}}</textarea>
      <button *ngIf="show_record" (click)="save_para()" mat-raised-button>Save</button>
      <span>{{access_status == 1 ? "Access Requested" : access_status == 2 ? "Access Granted" : "Access Unavailable"}}</span>
      <button [disabled]="access_status == 1" (click)="request_access()" mat-raised-button style="width: 10%;">Request Access</button>
      

</div>